@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 16px;
  height: 100%; }

li {
  list-style-type: none; }

.container, .container-full, .container-fliud {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  height: 100%; }

.wrapper {
  height: 100%; }

.wid_full {
  width: 100%; }

.rotate-one {
  transform: rotate(45deg) translateY(0.8rem);
  transform-origin: 50% 50%; }

.rotate-two {
  transform: rotate(-45deg) translateY(-0.9rem);
  transform-origin: 50% 50%; }

.flex-content {
  display: flex;
  justify-content: center;
  align-items: center; }

.menu-color {
  background-color: white; }

.logo-position {
  margin: auto; }

#search-color {
  border: 1px #0CC solid;
  box-shadow: 0 0 1rem #0CC; }

#search-show {
  width: 80%;
  height: 4rem;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 35px; }

#search-icon {
  font-size: 1.5rem;
  color: #0088ff; }

.search-button {
  margin-right: 20px; }

#search-icon-font {
  font-size: 1.2rem; }

/**头部导航和底部开始**/
header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)); }
  header nav {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;
    height: 8rem;
    margin: auto; }
    @media screen and (max-width: 1200px) {
      header nav .logo {
        display: none; } }
    header nav .nav-menu {
      margin-right: 3.5rem; }
      header nav .nav-menu .nav-menu-ul {
        position: relative;
        margin: 0;
        padding: 0;
        box-sizing: border-box; }
        header nav .nav-menu .nav-menu-ul li {
          display: flex;
          align-items: center;
          padding: 0 2rem;
          display: inline-block;
          margin: 0 1rem;
          height: 3rem;
          line-height: 3rem;
          border: 1px solid rgba(255, 255, 255, 0);
          border-radius: 1.5rem;
          transition: 0.5s linear; }
          header nav .nav-menu .nav-menu-ul li:hover {
            border: 1px solid white; }
          header nav .nav-menu .nav-menu-ul li a {
            color: white;
            text-decoration: none; }
            header nav .nav-menu .nav-menu-ul li a:hover {
              color: white; }
      @media screen and (max-width: 1200px) {
        header nav .nav-menu {
          display: none; } }
    header nav .nav-menu-bar {
      display: none;
      background: none;
      border: none;
      outline: none;
      z-index: 999; }
      header nav .nav-menu-bar div {
        width: 4rem;
        height: 0.3rem;
        background: white;
        margin: 1rem auto;
        border-radius: 2rem;
        transition: 0.3s linear; }
        @media screen and (max-width: 1200px) {
          header nav .nav-menu-bar div {
            width: 3rem;
            height: 0.2rem; } }
      @media screen and (max-width: 1200px) {
        header nav .nav-menu-bar {
          display: block;
          position: absolute;
          left: 20px; } }
    header nav .search-box {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: absolute;
      right: 40px;
      width: 30px;
      transition: 0.5s ease-in-out; }
      @media screen and (max-width: 1200px) {
        header nav .search-box {
          right: 80px; } }
      header nav .search-box .search-box-content {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 25px;
        box-sizing: border-box; }
        header nav .search-box .search-box-content .dropdown {
          display: none;
          position: absolute;
          margin: auto;
          left: 3px;
          background: none;
          color: white;
          z-index: 999; }
          header nav .search-box .search-box-content .dropdown button {
            background: none;
            outline: none; }
          header nav .search-box .search-box-content .dropdown ul {
            z-index: 999;
            left: 0;
            text-align: center;
            min-width: 50px; }
            header nav .search-box .search-box-content .dropdown ul li a {
              padding: 10px; }
        header nav .search-box .search-box-content input {
          display: none;
          width: 100%;
          height: 100%;
          background: none;
          border: none;
          padding-left: 60px; }
          header nav .search-box .search-box-content input:focus {
            border: none;
            outline: none; }
        header nav .search-box .search-box-content button {
          background: none;
          border: none;
          outline: none;
          transition: 0.5s ease-in-out; }
        header nav .search-box .search-box-content span {
          margin: auto;
          right: 0;
          top: 0;
          bottom: 0;
          transition: 0.5s ease-in-out; }
        header nav .search-box .search-box-content .glyphicon-search {
          font-size: 1.2rem;
          color: white; }
    header nav .login {
      display: flex;
      align-items: center;
      position: absolute;
      right: 0; }
      @media screen and (max-width: 1200px) {
        header nav .login {
          right: 40px; } }
      header nav .login .user {
        border-radius: 50%;
        display: none;
        background: white; }
        header nav .login .user img {
          width: 30px;
          height: 30px;
          border-radius: 50%; }
      header nav .login .glyphicon-user {
        font-size: 1.2rem;
        color: white; }
    header nav .login-choose {
      display: none;
      position: absolute;
      top: 90px;
      right: 0;
      background: white;
      text-align: center;
      border-radius: 5px; }
      @media screen and (max-width: 1200px) {
        header nav .login-choose {
          right: 40px; } }
      header nav .login-choose ul li {
        margin: 5px; }

.menu-all {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  padding-top: 110px;
  background: -webkit-linear-gradient(white, white, rgba(255, 255, 255, 0.9));
  z-index: 999; }
  .menu-all ul {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    flex-direction: column; }
    .menu-all ul li {
      transition: 0.5s ease-in-out;
      margin-bottom: 20px;
      border-bottom: 1px solid rgba(0, 0, 0, 0); }
      .menu-all ul li:hover {
        border-bottom: 1px solid #0088ff; }
      .menu-all ul li a {
        font-size: 2.3rem;
        color: #0088ff;
        text-decoration: none; }

.col-md-12 {
  padding: 0; }

footer {
  height: 250px;
  background: #333333;
  color: white; }
  footer .footer-left {
    height: 100%;
    display: flex;
    align-items: center;
    align-items: center;
    flex-direction: column;
    justify-content: center; }
    footer .footer-left p {
      color: white; }
    footer .footer-left ul li {
      display: inline-block; }
      footer .footer-left ul li a {
        color: white; }
  footer .footer-right {
    background: #333333;
    height: 100%;
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: center; }

/**头部导航和底部结束**/
.wrapper {
  height: 100%;
  width: 100%;
  background: url("../images/login/login-bk.png") no-repeat center;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center; }
  .wrapper .login-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-items: center; }
    .wrapper .login-wrap .login-box {
      display: flex;
      align-items: center;
      justify-content: center;
      align-items: center;
      height: 400px;
      width: 500px;
      background: white;
      border-radius: 20px; }
      .wrapper .login-wrap .login-box p {
        font-size: 2rem;
        color: #0088ff; }
      .wrapper .login-wrap .login-box .login-input {
        width: 330px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px; }
        .wrapper .login-wrap .login-box .login-input input {
          height: 100%;
          width: 100%;
          border: 1px solid black;
          border-radius: 5px;
          outline: none;
          padding-left: 5px; }
          .wrapper .login-wrap .login-box .login-input input#sub {
            background: #0088ff;
            border: 1px solid #0088ff;
            color: white;
            font-size: 1.3rem; }
        .wrapper .login-wrap .login-box .login-input .glyphicon {
          color: #0088ff;
          font-size: 1.7rem; }
      .wrapper .login-wrap .login-box .link-to-signUp {
        display: flex;
        align-items: center;
        justify-content: space-between; }

/*# sourceMappingURL=login.css.map */
